@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

:root {
    --main-color-1: black;
    --main-color-2: yellow;
    --main-color-3: white;
    --main-color-4: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color-1);
    font-size: 22px;
    line-height: 32px;
    color: var(--main-color-3);
    word-wrap: break-word !important;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--main-color-3);
    text-decoration: none;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-family: 'Bree Serif', serif;
}

.svg-logo,
.svg-github,
.svg-slack,
.svg-twitter,
.svg-open-collective {
    fill: var(--main-color-3);
}


#container {
    margin: 0 auto;
}

/* ===== HEADER ===== */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    margin: 15px;
}

.logo svg {
    width: 250px;
    height: auto;
    position: relative;
    right: 120px;
}

nav {
    margin: 50px 0;
}

nav ul {
    padding: 10px;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: transparent;
}

nav a {
    display: block;
    margin: 15px;
    color: var(--main-color-3);
    font-size: 20px;
    line-height: 60px;
}

.menuNav ul li a {
    font-size: 0.9rem;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 65px;
}

nav ul li:hover>ul {
    display: inherit;
    border-radius: 8px;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    top: 3px;
}

nav ul ul ul li {
    position: relative;
    left: 170px;
}

li a {
    padding-left: 20px;
    padding-right: -10px;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 8px;
}

.cat {
    background-color: transparent;
}

.home {
    padding: 0 20px;
    background-color: var(--main-color-3);
    color: var(--main-color-1);
}

li>a:after {
    content: ' ▾';
}

li>a:only-child:after {
    content: '';
}

/* ===== MAIN CONTENT ===== */
.deco {
    display: block;
    line-height: 0;
    font-size: 0;
}

.wall {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.promo {
    background-color: var(--main-color-2);
    padding: 20px;
    font-weight: bold;
    color: var(--main-color-1);
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;
    line-height: 1.2;
    font-size: 1rem;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    margin: 0;
    padding: 0;
}

.shoeItem {
    position: relative;
    background-color: var(--main-color-3);
    flex: 0 0 calc(33.333% - 2px);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.shoeItem img {
    object-fit: cover;
    width: 100%;
    display: block;
}

.price {
    position: absolute;
    top: 55px;
    left: 25px;
    width: 90px;
    height: 90px;
    background-color: var(--main-color-2);
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    transform: rotate(-8deg);
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.8);
}

.label {
    position: absolute;
    top: 65px;
    left: 180px;
    background-color: var(--main-color-2);
    color: black;
    padding: 8px 25px;
    font-size: 16px;
    font-weight: bolder;
    transform: rotate(13deg);
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.8);
}

.label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(2px, 2px);
    z-index: -1;
}

.shoe {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.shoe:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}

/* ===== FOOTER ===== */
.footer {
    display: flex;
    width: 100%;
}

.footer-logo {
    background-color: var(--main-color-2);
    width: calc(100% / 3);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo svg {
    filter: invert(1);
    width: 200px;
    height: auto;
}

.slogan {
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    width: calc(100% * 2/3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1.5px;
    padding: 20px;
}

/*******************************************/
/*******************************************/
/*******************************************/

    @media (max-width: 1024px) {

        body,
        html {
            font-size: 16px;
            padding: 0;
            margin: 0 auto;
        }

        header {
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            gap: 0;
        }

        .menu {
            order: 1;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            background-color: var(--main-color-2);
            padding: 15px 0;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .menu s {
            color: var(--main-color-1);
            font-weight: bold;
            font-size: 1.2rem;
        }

        .logo {
            order: 2;
        }

        .logo svg {
            fill: var(--main-color-2);
            width: 100px;
            left: 1px;
            padding-top: 20px;
        }

        nav a {
            line-height: 15px;
        }

        .menuNav {
            order: 3;
            width: 100%;
            margin: 0;
        }

        .logo .svg-logo {
            fill: yellow;
        }

        .menu .svg-github,
        .menu .svg-twitter,
        .menu .svg-slack,
        .menu .svg-open-collective {
            fill: black;
            width: 20px;
        }

        nav {
            margin: 5px;
        }

        .menu {
            justify-content: space-evenly;
            padding: 10px;
            border-radius: 0;
        }

        .menu .size-icon {
            width: 15px;
            height: auto;
            filter: var(--main-color-1);
        }

        .menuNav ul {
            display: flex;
            flex-direction: column;
            /* Empile les items en colonne */
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menuNav ul li {
            position: relative;
            /* display: block; */
            /* Chaque élément occupe toute la largeur */
            width: 100%;
        }

        .menuNav ul li a {
            display: block;
            font-size: 1rem;
            padding: 10px 20px;
            color: var(--main-color-3);
            border-radius: 5px;
            margin-bottom: 5px;
            text-align: start;
        }

        .menuNav ul li:hover>a {
            background-color: var(--main-color-4);
            color: var(--main-color-3);
        }

        .menuNav ul li ul {
            display: none;
            /* Sous-menus masqués par défaut */
            position: relative;
            /* Position relative aux parents */
            top: auto;
            left: 0;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 100%;
        }

        .menuNav ul li:hover>ul {
            display: block;
            /* Affichage des sous-menus au survol */
            padding: 0;
        }

        .menuNav ul li ul li {
            display: block;
            /* Les sous-menus s'empilent */
            width: 100%;
        }

        .menuNav ul li ul li a {
            padding: 10px;
            color: var(--main-color-3);
            background-color: transparent;;
            border-radius: 4px;
            display: block;
        }

        .menuNav ul li ul li a:hover {
            background-color: var(--main-color-4);
            color: var(--main-color-3);
        }

        .menuNav ul li ul ul {
            position: relative;
            /* Ajustement pour sous-sous-menus */
            left: auto;
            top: auto;
            margin-top: 5px;
        }

        .cat {
            margin: 0;
          
        }

        .menuNav .home {
            background-color: yellow;
            color: var(--main-color-1);
            border-radius: 4px;
        }

        .promo {
            font-size: 1.2rem;
        }

        .wall {
            display: none;
        }

        .price {
            top: 35px;
            left: 35px;
            width: 90px;
            height: 90px;
            font-weight: bold;
            font-size: 16px;
        }

        .label {
            top: 40px;
            left: 180px;
            padding: 8px 25px;
            font-size: 16px;
            font-weight: bolder;
        }

        .shoeItem {
            flex: 0 0 calc(50% - 2px);
        }

        footer {
            flex-direction: column;
        }

        .footer-logo {
            width: 100%;
            height: 100px;
        }

        .footer-logo svg {
            width: 100px;
            height: auto;
            margin: 0 auto;
        }

        .slogan {
            width: 100%;
            height: 100px;
            font-size: 1.5rem;
            padding: 10px;
        }
    }


    /*******************************************/
    /*******************************************/
    /*******************************************/

    @media (max-width: 600px) {
        body,
        html {
            font-size: 14px;
            padding: 0;
            margin: 0 auto;
        }
    
        header {
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            gap: 0;
        }
    
        .menu {
            order: 1;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            background-color: var(--main-color-2);
            padding: 15px 0;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    
        .menu s {
            color: var(--main-color-1);
            font-weight: bold;
            font-size: 1.2rem;
        }
    
        .logo {
            order: 2;
        }
    
        .logo svg {
            fill: var(--main-color-2);
            width: 100px;
            left: 1px;
            padding-top: 20px;
        }
    
        nav a {
            line-height: 15px;
        }
    
        .menuNav {
            order: 3;
            width: 100%;
            margin: 0;
        }
    
        .logo .svg-logo {
            fill: yellow;
        }
    
        .menu .svg-github,
        .menu .svg-twitter,
        .menu .svg-slack,
        .menu .svg-open-collective {
            fill: black;
            width: 20px;
        }
    
        nav {
            margin: 5px;
        }

        .menu {
            justify-content: space-evenly;
            padding: 10px;
            border-radius: 0;
        }
    
        .menu .size-icon {
            width: 15px;
            height: auto;
            filter: var(--main-color-1);
        }
    
        .menuNav ul {
            display: flex;
            flex-direction: column;
            /* Empile les items en colonne */
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menuNav ul li {
            position: relative;
            width: 100%;
        }
    
        .menuNav ul li a {
            display: block;
            font-size: 1rem;
            padding: 10px 20px;
            color: var(--main-color-3);
            border-radius: 5px;
            margin-bottom: 5px;
            text-align: start;
        }
    
        .menuNav ul li:hover>a {
            background-color: var(--main-color-4);
            color: var(--main-color-3);
        }
    
        /* Sous-menus masqués par défaut */
        .menuNav ul li ul {
            display: none;
            position: relative; /* Positionner absolument pour les superposer au-dessus des éléments */
            top: auto;
            left: 0; /* Positionne le sous-menu à droite de l'élément parent */
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: max-content;
        }
    
        /* Affichage des sous-menus au survol */
        .menuNav ul li:hover>ul {
            display: block;
        }
    
        /* Ajustements des sous-menus pour les rendre plus lisibles */
        .menuNav ul li ul li {
            display: block;
            width: 100%;
        }
    
        .menuNav ul li ul li a {
            padding: 10px;
            color: var(--main-color-3);
            background-color: transparent;
            border-radius: 4px;
            display: block;
        }
    
        .menuNav ul li ul li a:hover {
            background-color: var(--main-color-4);
            color: var(--main-color-3);
        }
    
        /* Gérer les sous-sous-menus (affichage latéral) */
        .menuNav ul li ul li ul {
            left: 100%; /* Positionne le sous-sous-menu à droite du sous-menu */
            top: 0;
            margin-top: 0;
        }
    
        .cat {
            margin: 0;
        }
    
        .menuNav .home {
            background-color: yellow;
            color: var(--main-color-1);
            border-radius: 4px;
        }
    
        .promo {
            font-size: 1.2rem;
        }
    
        .wall {
            display: none;
        }
    
        .price {
            top: 35px;
            left: 35px;
            width: 90px;
            height: 90px;
            font-weight: bold;
            font-size: 16px;
        }
    
        .label {
            top: 40px;
            left: 180px;
            padding: 8px 25px;
            font-size: 16px;
            font-weight: bolder;
        }
    
        .selection {
            flex-direction: column;
            gap: 0;
            margin: 0;
            padding: 0;
        }
    
        .shoeItem {
            flex: 0 0 calc(50% - 2px);
        }
    
        footer {
            flex-direction: column;
        }
    
        .footer-logo {
            width: 100%;
            height: 100px;
        }
    
        .footer-logo svg {
            width: 100px;
            height: auto;
            margin: 0 auto;
        }
    
        .slogan {
            width: 100%;
            height: 100px;
            font-size: 1.5rem;
            padding: 10px;
        }
    }
    

    
